  .title {
    color: #61dafb;
    text-align: center;
    font-size: 32pt;
  }
  
  #message {
    text-align: center;
    color: #cc7a6f;
    width: 100%;
    position: absolute;
    top: 50%;
    vertical-align: text-top;
  }
  
  #timer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #e9e9e9
  }
  #high-score-header{
    color: #e9e9e9
  }

  .my-text{
    color: #e9e9e9
  }
  
  body {
    user-select: none;
    margin: 0;
    background: #2d2d2d
  }